* {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

.image {
	position: absolute;
}

#A {
}

#B {
	display: none;
}

.info_box {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.info_box * {
	display: inline;
}

.info_box span {
	color: white;
	vertical-align: top;
	font-size: 28px;
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.0);
}

.qr_code {
	width: 196px;
	height: 196px;
	border: solid;
	border-color: black;
	border-width: 2px;
}